/* CSS COMMUN */

/* BARRE DE NAVIGATION */

.navigation-list {
    display: inline-block;
    list-style: none;
    margin: 0%;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: fixed;
    top: 750px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
    size: 100%;
}

nav li {
    display: inline-block;
    margin: 12px;
    margin-bottom: 5px;
}

nav li.active {
    color: chocolate;
}

/* PAGE DE CONNEXION */

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
    background: #79D3D1;
  
}

#logo {
    position: absolute;
    width: 191px;
    height: 199px;
    left: 91px;
    top: 47px;
}

label1 {
    font-family: Lato;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.64);
    position: absolute;
    width: 209px;
    height: 18px;
    left: 62px;
    top: 285px;
    
}

label2 {
    font-family: Lato;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.64);
    position: absolute;
    width: 209px;
    height: 18px;
    left: 62px;
    top: 406px;

}

input {
    width: 252px;
    height: 41px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
}

#bouton {
    position: absolute;
    width: 136px;
    height: 37px;
    left: 104px;
    top: 523px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
}


/* pour tout le prototype */

html {
    background: rgb(255, 255, 255)
}


h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.56);

    position: absolute;
    width: 109px;
    height: 20px;
    left: 33px;
    top: 67px;

}

.tag, h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    
    color: #79D3D1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
    border-radius: 5px;
    }

.tagover, h1 {
    width: 86px;
height: 25px;
font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    background: #C4C4C4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 5px;

}

p {
    font-family: Lato;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    
    color: rgba(0, 0, 0, 0.64);

    position: absolute;

left: 15px;
top: 123px;
}

h3,.ou {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.64);
    text-align: center;
    
     background: #FFFFFF;
     box-shadow: 0px 2px 20px rgba(121, 211, 209, 0.34);
    border-radius: 5px;
    
    position: absolute;
    width: 90px;
    height: 37px;
    left: 15px;
    top: 162px;
    
}

h3, .qui{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.64);
    text-align: center;
    
     background: #FFFFFF;
     box-shadow: 0px 2px 20px rgba(121, 211, 209, 0.34);
    border-radius: 5px;

    position: absolute;
width: 90px;
height: 37px;
left: 143px;
top: 162px;

}

h3, .quand{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.64);
    text-align: center;
    
     background: #FFFFFF;
     box-shadow: 0px 2px 20px rgba(121, 211, 209, 0.34);
    border-radius: 5px;
    position: absolute;
width: 90px;
height: 37px;
left: 268px;
top: 162px;


}


img, .recherche {
    border-radius: 4px;
    position: absolute;
width: 186px;
height: 192px;
left: 0px;
top: 251px;
}

.recherche2 {
    border-radius: 4px;
    position: absolute;
    width: 183px;
    height: 192px;
    left: 192px;
    top: 251px;    
}

.recherche3 {
    border-radius: 4px;
    position: absolute;
    width: 186px;
height: 192px;
left: 0px;
top: 449px;    
}

.recherche4 {
    border-radius: 4px;
    position: absolute;
    width: 183px;
    height: 192px;
    left: 192px;
    top: 449px;
      
}

.recherche5 {
    border-radius: 4px;
    position: absolute;
width: 186px;
height: 192px;
left: 0px;
top: 646px;
}

.recherche6 {
    border-radius: 4px;
    position: absolute;
    width: 186px;
    height: 192px;
    left: 191px;
    top: 646px;
}

.profil1 {
    position: absolute;
width: 106px;
height: 106px;
left: 40px;
top: 463px;
    border: 3px solid #79D3D1;
    box-sizing: border-box;
    border-radius: 151px;
}

.profil {
    position: absolute;
    width: 106px;
    height: 106px;
    left: 231px;
    top: 666px;
    border: 3px solid #79D3D1;
    box-sizing: border-box;
    border-radius: 151px;
}

.certifié1{
position: absolute;
width: 21px;
height: 21px;
left: 115px;
top: 463px;
}

.certifié2{
    position: absolute;
    width: 21px;
    height: 21px;
    left: 306px;
    top: 666px;
    }

.tag1 {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 17px;
        
        color: #79D3D1;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
        border-radius: 5px;

        position: absolute;
        width: 42px;
        height: 21px;
        left: 5px;
        top: 380px;

}

.tag2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    
    color: #79D3D1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
    border-radius: 5px;

    position: absolute;
    width: 59px;
height: 21px;
left: 203px;
top: 380px;

}

.tag3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    
    color: #79D3D1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
    border-radius: 5px;

    position: absolute;
    width: 112px;
height: 21px;
left: 203px;
top: 575px;

}

.tag4 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    
    color: #79D3D1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
    border-radius: 5px;

    position: absolute;
    width: 50px;
    height: 21px;
    left: 11px;
    top: 770px;
}

.tagover1{
position: absolute;
width: 59px;
height: 18px;
left: 5px;
top: 405px;


font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #FFFFFF;
position: absolute;
}

.tagover2{
    position: absolute;
    width: 68px;
    height: 18px;
    left: 72px;
    top: 405px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
}

.tagover3{
    position: absolute;
    width: 68px;
    height: 18px;
    left: 203px;
    top: 405px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
}

.tagover4{
    position: absolute;
    position: absolute;
    width: 114px;
    height: 18px;
    left: 203px;
    top: 602px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
}

.tagover5{
    position: absolute;
    position: absolute;
    width: 80px;
    height: 21px;
    left: 11px;
    top: 798px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
}

h4, .nom1{
    position: absolute;
    width: 150px;
    height: 18px;
    left: 32px;
    top: 562px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    line-height: 18px;
     
    color: rgba(0, 0, 0, 0.61);
    
}

h4, .nom2{
    position: absolute;
    width: 150px;
    height: 18px;
    left: 235px;
    top: 765px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    line-height: 18px;
     
    color: rgba(0, 0, 0, 0.61); 
}

.tagprofil1{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
    
width: 79px;
height: 25px;
left: 53px;
top: 595px;

background: #C4C4C4;
box-shadow: 0px 2px 20px rgba(196, 196, 196, 0.25);
border-radius: 5px;
}

.tagprofil2{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
    

background: #C4C4C4;
box-shadow: 0px 2px 20px rgba(196, 196, 196, 0.25);
border-radius: 5px;

position: absolute;
width: 79px;
height: 25px;
left: 244px;
top: 798px;
}