/* CSS COMMUN */

/* BARRE DE NAVIGATION */

.navigation-list {
    display: inline-block;
    list-style: none;
    margin: 0%;
    -webkit-transition: all .5s;
    transition: all .5s;
    position: fixed;
    top: 750px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 2;
    padding-left: 15px;
    padding-right: 15px;
    size: 100%;
}

nav li {
    display: inline-block;
    margin: 12px;
    margin-bottom: 5px;
}



/* PAGE DE CONNEXION */

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
    background: #79D3D1;
  
}

#logo {
    position: absolute;
    width: 191px;
    height: 199px;
    left: 91px;
    top: 47px;
}

label1 {
    font-family: Lato;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.64);
    position: absolute;
    width: 209px;
    height: 18px;
    left: 62px;
    top: 285px;
    
}

label2 {
    font-family: Lato;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.64);
    position: absolute;
    width: 209px;
    height: 18px;
    left: 62px;
    top: 406px;

}

input {
    width: 252px;
    height: 41px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
}

#bouton {
    position: absolute;
    width: 136px;
    height: 37px;
    left: 104px;
    top: 523px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
}


/* pour tout le prototype */

html {
    background: rgb(255, 255, 255)
}


h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.56);

    position: absolute;
    width: 109px;
    height: 20px;
    left: 33px;
    top: 67px;

}

.tag, h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    
    color: #79D3D1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
    border-radius: 5px;
    }

.tagover, h1 {
    width: 86px;
height: 25px;
font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    background: #C4C4C4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 5px;

}

p {
    font-family: Lato;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    
    color: rgba(0, 0, 0, 0.64);

    position: absolute;

left: 15px;
top: 123px;
}

h3,.ou {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.64);
    text-align: center;
    
     background: #FFFFFF;
     box-shadow: 0px 2px 20px rgba(121, 211, 209, 0.34);
    border-radius: 5px;
    
    position: absolute;
    width: 90px;
    height: 37px;
    left: 15px;
    top: 162px;
    
}

h3, .qui{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.64);
    text-align: center;
    
     background: #FFFFFF;
     box-shadow: 0px 2px 20px rgba(121, 211, 209, 0.34);
    border-radius: 5px;

    position: absolute;
width: 90px;
height: 37px;
left: 143px;
top: 162px;

}

h3, .quand{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.64);
    text-align: center;
    
     background: #FFFFFF;
     box-shadow: 0px 2px 20px rgba(121, 211, 209, 0.34);
    border-radius: 5px;
    position: absolute;
width: 90px;
height: 37px;
left: 268px;
top: 162px;


}


img, .recherche {
    border-radius: 4px;
    position: absolute;
width: 186px;
height: 192px;
left: 0px;
top: 251px;
}

.recherche2 {
    border-radius: 4px;
    position: absolute;
    width: 183px;
    height: 192px;
    left: 192px;
    top: 251px;    
}

.recherche3 {
    border-radius: 4px;
    position: absolute;
    width: 186px;
height: 192px;
left: 0px;
top: 449px;    
}

.recherche4 {
    border-radius: 4px;
    position: absolute;
    width: 183px;
    height: 192px;
    left: 192px;
    top: 449px;
      
}

.recherche5 {
    border-radius: 4px;
    position: absolute;
width: 186px;
height: 192px;
left: 0px;
top: 646px;
}

.recherche6 {
    border-radius: 4px;
    position: absolute;
    width: 186px;
    height: 192px;
    left: 191px;
    top: 646px;
}

.profil1 {
    position: absolute;
width: 106px;
height: 106px;
left: 40px;
top: 463px;
    border: 3px solid #79D3D1;
    box-sizing: border-box;
    border-radius: 151px;
}

.profil {
    position: absolute;
    width: 106px;
    height: 106px;
    left: 231px;
    top: 666px;
    border: 3px solid #79D3D1;
    box-sizing: border-box;
    border-radius: 151px;
}

.certifié1{
position: absolute;
width: 21px;
height: 21px;
left: 115px;
top: 463px;
}

.certifié2{
    position: absolute;
    width: 21px;
    height: 21px;
    left: 306px;
    top: 666px;
    }

.tag1 {
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 17px;
        
        color: #79D3D1;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
        border-radius: 5px;

        position: absolute;
        width: 42px;
        height: 21px;
        left: 5px;
        top: 380px;

}

.tag2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    
    color: #79D3D1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
    border-radius: 5px;

    position: absolute;
    width: 59px;
height: 21px;
left: 203px;
top: 380px;

}

.tag3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    
    color: #79D3D1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
    border-radius: 5px;

    position: absolute;
    width: 112px;
height: 21px;
left: 203px;
top: 575px;

}

.tag4 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    
    color: #79D3D1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
    border-radius: 5px;

    position: absolute;
    width: 50px;
    height: 21px;
    left: 11px;
    top: 770px;
}

.tagover1{
position: absolute;
width: 59px;
height: 18px;
left: 5px;
top: 405px;


font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #FFFFFF;
position: absolute;
}

.tagover2{
    position: absolute;
    width: 68px;
    height: 18px;
    left: 72px;
    top: 405px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
}

.tagover3{
    position: absolute;
    width: 68px;
    height: 18px;
    left: 203px;
    top: 405px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
}

.tagover4{
    position: absolute;
    position: absolute;
    width: 114px;
    height: 18px;
    left: 203px;
    top: 602px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
}

.tagover5{
    position: absolute;
    position: absolute;
    width: 80px;
    height: 21px;
    left: 11px;
    top: 798px;
    
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
}

h4, .nom1{
    position: absolute;
    width: 150px;
    height: 18px;
    left: 32px;
    top: 562px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    line-height: 18px;
     
    color: rgba(0, 0, 0, 0.61);
    
}

h4, .nom2{
    position: absolute;
    width: 150px;
    height: 18px;
    left: 235px;
    top: 765px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    line-height: 18px;
     
    color: rgba(0, 0, 0, 0.61); 
}

.tagprofil1{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
    
width: 79px;
height: 25px;
left: 53px;
top: 595px;

background: #C4C4C4;
box-shadow: 0px 2px 20px rgba(196, 196, 196, 0.25);
border-radius: 5px;
}

.tagprofil2{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
    

background: #C4C4C4;
box-shadow: 0px 2px 20px rgba(196, 196, 196, 0.25);
border-radius: 5px;

position: absolute;
width: 79px;
height: 25px;
left: 244px;
top: 798px;
}

.ouover{

    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
    background: #79D3D1;
box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.08);
border-radius: 5px;
position: absolute;
width: 90px;
height: 37px;
left: 15px;
top: 162px;
}

.plus{
    position: absolute;
    width: 24px;
    height: 30px;
    left: 114px;
    top: 175px;    
}

.plus2{
    position: absolute;
    width: 24px;
    height: 30px;
    left: 240px;
    top: 175px;    
}

.barre{
    position: absolute;
    width: 21px;
    height: 0px;
    left: 54px;
    top: 300px;    
}

.bandeau{
    position: absolute; 
    top: 209px;   
    width: 350px;
}

.tagou1{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #C4C4C4;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 5px;

position: absolute;
width: 72px;
height: 25px;
left: 50px;
top: 258px;
}

.tagou2{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #C4C4C4;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 5px;

position: absolute;
width: 67px;
height: 25px;
left: 155px;
top: 258px;
}

.tagou3{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #C4C4C4;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 5px;

position: absolute;
width: 69px;
height: 25px;
left: 249px;
top: 258px;
}

.tagou4{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #C4C4C4;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 5px;

position: absolute;
width: 45px;
height: 25px;
left: 100px;
top: 302px;
}

.tagou5{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #C4C4C4;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 5px;

position: absolute;
width: 73px;
height: 25px;
left: 166px;
top: 302px;
}

.tagou6{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    
    color: #C4C4C4;
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
border-radius: 5px;

position: absolute;
width: 22px;
height: 24px;
left: 272px;
top: 300px;
}

.rechercher{
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    color: #FFFFFF;
    background: #79D3D1;
box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
border-radius: 8px;

position: absolute;
width: 122px;
height: 37px;
left: 127px;
top: 390px;
}

.rechercheou1{
border-radius: 4px;
position: absolute;
width: 186px;
height: 192px;
left: -1px;
top: 478px;   
}

.rechercheou2{
    border-radius: 4px;
    position: absolute;
    width: 183px;
height: 192px;
left: 191px;
top: 478px;  
}

.rechercheou3{
    border-radius: 4px;
    position: absolute;
    width: 186px;
    height: 192px;
    left: -1px;
    top: 675px; 
}

.rechercheou4{
border-radius: 4px;
   
position: absolute;
width: 183px;
height: 192px;
left: 191px;
top: 675px;
}

.rechercheou5{
    border-radius: 4px;
       
    position: absolute;
    width: 186px;
    height: 192px;
    left: -1px;
    top: 872px;
    }

.rechercheou6{
    border-radius: 4px;
       
    position: absolute;
    width: 186px;
    height: 192px;
    left: 190px;
    top: 872px;
    }

.profilou1{
    border: 3px solid #79D3D1;
    box-sizing: border-box;
    border-radius: 151px;
 
position: absolute;
width: 106px;
height: 106px;
left: 230px;
top: 892px;
}

.profilou2{
    border: 3px solid #79D3D1;
    box-sizing: border-box;
    border-radius: 151px;
    position: absolute;
    width: 106px;
    height: 106px;
    left: 39px;
    top: 689px;
    
}

.certifiéou1{
position: absolute;
width: 21px;
height: 21px;
left: 114px;
top: 689px;

}

.certifiéou2{
position: absolute;
width: 21px;
height: 21px;
left: 305px;
top: 892px;
}

.tagou11{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    
    color: #79D3D1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
    border-radius: 5px;

position: absolute;
width: 42px;
height: 21px;
left: 8px;
top: 600px; 
}

.tagou12{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    
    color: #79D3D1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
    border-radius: 5px;

    position: absolute;
width: 59px;
height: 21px;
left: 202px;
top: 600px;
}

.tagou13{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    
    color: #79D3D1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
    border-radius: 5px;

    position: absolute;
    width: 112px;
    height: 21px;
    left: 202px;
    top: 795px;   
}

.tagou14{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    
    color: #79D3D1;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(121, 211, 209, 0.19);
    border-radius: 5px;

    position: absolute;
    width: 42px;
    height: 21px;
    left: 8px;
    top: 1000px;  
}

.tagoverou1{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
width: 59px;
height: 18px;
left: 8px;
top: 628px;   
}

.tagoverou2{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
    width: 68px;
    height: 18px;
    left: 74px;
    top: 628px; 
}

.tagoverou3{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
    width: 59px;
    height: 18px;
    left: 203px;
    top: 628px;
    
}

.tagoverou4{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
width: 114px;
height: 18px;
left: 203px;
top: 823px;
}

.tagoverou5{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
    width: 76px;
    height: 18px;
    left: 8px;
    top: 1028px;
}

.nomou1{
    font-family: Lato;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    line-height: 18px;
     
    color: rgba(0, 0, 0, 0.61);
    position: absolute;
width: 131px;
height: 18px;
left: 32px;
top: 785px; 
}

.nomou2{
    font-family: Lato;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    line-height: 18px;
     
    color: rgba(0, 0, 0, 0.61);
    position: absolute;
    width: 100px;
    height: 18px;
    left: 228px;
    top: 989px;
}

.tagprofilou1 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
width: 79px;
height: 25px;
left: 52px;
top: 820px;

background: #C4C4C4;
box-shadow: 0px 2px 20px rgba(196, 196, 196, 0.25);
border-radius: 5px; 
}

.tagprofilou2 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
    width: 73px;
    height: 18px;
    left: 246px;
    top: 1025px;

background: #C4C4C4;
box-shadow: 0px 2px 20px rgba(196, 196, 196, 0.25);
border-radius: 5px; 
}
